<!DOCTYPE HTML>
<head lang="en" xmlns:th = "http://www.thymeleaf.org">
<head th:replace="layouts/master-layout :: header" />

<body>
<nav th:replace="layouts/master-layout :: navbar-top" />

<div class="container">


    <div class="starter-template">
        <h1>This is a home page for eShop</h1>
        <hr>
        <h4>The page is under construction</h4>
        <h5>So give us a break!</h5>


    </div>

</div>
<!-- /.container -->

<div th:replace="layouts/master-layout :: footer"></div>

</body>
</html>