<!DOCTYPE HTML>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head th:replace="layouts/master-layout :: header" />

<body>
<nav th:replace="layouts/master-layout :: navbar-top">

</nav>
<!--<div th:replace="layouts/master-layout::search">-->
<!--    <p>Abebe Beso Bela</p>-->
<!--</div>-->

<div class="container">

    <div  id="templatemo_header" >
        <div id="headerbgimage">
            <h1>eShop for Books</h1>
        </div>
        <div id="templatemo_special_offers">
            <p>New Arrivals:</p>
            <div id="newarrival1">

            </div>

            </div>


        <div id="templatemo_new_books">
            <div id="newarrival2">

            </div>

            </div>
    </div> <!-- end of header -->

</div>
<!-- /.container -->

<div th:replace="layouts/master-layout :: footer"></div>


</body>
</html>