<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/master-layout :: header" >
    <link rel="stylesheet" href="../../static/css/layouts/master-layout.css">
</head>

<body>

<nav th:replace="layouts/master-layout :: navbar-top" />
<!--<div th:replace="layouts/master-layout :: search" />-->
<!-- End of Navigation bar -->
<div class="container">
    <div style="padding-top: 1em;" class="container">

    </div>

    <p>&nbsp;</p>
    <li>
    </li>

        <div class="row">
            <tbody>
            <div class="col-md-4" th:each="book,iterStat : ${books}">
                <figure class="card" >
                    <div class="img-wrap"><img th:src="@{${book.image}}" style="width: 116%; height: 100%; alignment: center "/></div>
                    <figcaption class="info-wrap" th:text="${book.title}">
                    </figcaption>
                    <div class="bottom-wrap">
                        <a th:href="@{'/addToCart/{id}'(id=${book.id})}" class="btn btn-sm btn-danger float-right">Add to Cart</a>
                        <!--                        th:href="@{'/elibrary/book/edit/{bookId}'(bookId=${book.bookId})}"-->
                        <div class="price-wrap h5">
                            <span class="price-new" th:text="${book.price}"></span>
                        </div> <!-- price-wrap.// -->
                    </div> <!-- bottom-wrap.// -->
                </figure>

            </div>
            </tbody>
        </div>




    </div>
    <div class="container">
        <ul class="pagination">
            <li class="page-item disabled">
                <a class="page-link" href="#">Pages: </a>
            </li>
            <li th:each="i : ${#numbers.sequence(1, books.totalPages)}"
                th:class="${currentPageNo}==${i-1}?'page-item active':'page-item'">
                <a th:href="@{/listBook(pageno=${i-1})}"
                   th:text="${i}" class = "page-link"></a>
            </li>
        </ul>
    </div>
    </div>

</div>
</div>
<div th:replace="layouts/master-layout :: footer"></div>
</body>
</html>