<!DOCTYPE HTML>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head th:replace="layouts/master-layout :: header" />
<body>
<nav th:replace="layouts/master-layout :: navbar-top" />
<div class="container">
    <form id="bookRegistrationForm" method="post" action="/registerBook" th:object="${book}">
        <fieldset>
            <legend>Product Registration Form</legend>
            <!--                       Title -->
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="title">Title:</label>
                        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"
                              class="alert alert-danger"></span>
                        <input tabindex="2" id="title" name="title" type="text" class="form-control" th:value="${book.title}"/>
                    </div>
                </div>

                <!--   Product Name -->
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="isbn">ISBN:</label>
                        <span th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}"
                              class="alert alert-danger"></span>
                        <input tabindex="2" id="isbn" name="isbn" type="text" class="form-control" th:value="${book.isbn}"/>
                    </div>
                </div>

                <!--Unice Price-->
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="price">Unit Price:</label>
                        <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"
                              class="alert alert-danger"></span>
                        <input tabindex="2" id="price" name="price" type="text" class="form-control" th:value="${book.price}"/>
                    </div>
                </div>
            </div>





                <!-- First row is over-->
            <div class="row">
                <!-- Number of Copies-->
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="numberOfCopies">Number of Copies:</label>
                        <span th:if="${#fields.hasErrors('numberOfCopies')}" th:errors="*{numberOfCopies}"
                              class="alert alert-danger"></span>
                        <input tabindex="2" id="numberOfCopies" name="numberOfCopies" type="text" class="form-control" th:value="${book.numberOfCopies}"/>
                    </div>
                </div>

                <!--Date published-->
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="datePublished">Date Published:</label>
                        <span th:if="${#fields.hasErrors('datePublished')}" th:errors="*{date}"
                              class="alert alert-danger"></span>
                        <input tabindex="2" id="datePublished" name="datePublished" type="date" class="form-control" th:value="${book.datePublished}"/>
                    </div>
                </div>

                <!-- Image-->
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="image">Link to Image:</label>
                        <span th:if="${#fields.hasErrors('image')}" th:errors="*{image}"
                              class="alert alert-danger"></span>
                        <input tabindex="2" id="image" name="image" type="text" class="form-control" th:value="${book.image}"/>
                    </div>
                </div>
            </div>
                    <!-- Second Row is over-->
            <div class="row">
                    <!--Author-->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="author">Authors</label>
<!--                        <span th:if="${#fields.hasErrors('author')}" th:errors="*{author}"-->
<!--                              class="alert alert-danger"></span>-->
                        <select name="author" id="author" class="form-control" required="required">
                            <option value="">Select Author</option>
                            <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.firstName}"></option>
                        </select>
                    </div>
                </div>

                    <!--Description-->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="description">Description:</label>
                        <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                              class="alert alert-danger"></span>
                        <input tabindex="2" id="description" name="description" type="text" class="form-control" th:value="${book.description}"/>
                    </div>
                </div>
            </div>
                            <!--Button-->
            <div class="row">
                <div class="col-md-6">
                    <div>&nbsp;</div>
                </div>
                <div class="col-md-6">
                    <div style="text-align: right;">
                        <button tabindex="8" id="btnReset" type="reset" class="btn btn-outline-info" style="margin-right: 2em;">Reset</button>
                        <a tabindex="9" href="product/list" class="btn btn-outline-warning">Cancel</a>&nbsp;&nbsp;&nbsp;
                        <button tabindex="10" id="btnSubmit" type="submit" class="btn btn-outline-primary">Register product</button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div th:replace="layouts/master-layout :: footer"></div>
</body>
</html>
