<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head th:replace="layouts/master-layout :: header">

    <title>eshop: place order</title>
</head>
<body>
<nav th:replace="layouts/master-layout :: navbar-top" />

<!--displays the book and its price-->
<div id="form-cont">
<div style="font-size: 1em" class="container">
    <table class="table table-striped bookregister">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Book Title</th>
            <th scope="col">Book Price</th>
            <th scope="col">Tax</th>
            <th scope="col">Delivery Price</th>
            <th scope="col">Total Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book,iterStat : ${cart.books}">
            <!--th:onclick="@{document.location='/elibrary/book/edit/{bookId}'(bookId=${book.bookId})}" -->
            <th scope="row" th:text="${iterStat.count}"></th>
            <td th:text="${book.title}"></td>
            <td th:text="${book.price}"></td>
            <td th:text="${book.price}*0.01"></td>
            <td th:text="${book.price}*0.1"></td>
            <td th:text="${cart.totalPrice}"></td>

        </tr>
        </tbody>
    </table>
</div>

<!--displays billing info/form-->
<hr>
<div class="container bookregister">

    <div class="bookregister" id="form-cont">
    <form id="BillingInformationForm" method="post" th:action="@{/addToCart}"  th:object="${cart}">
        <fieldset>
            <legend>Billing Information:</legend>
            <input type="hidden" name="id" th:value="${cart.customer.billingInfos.get(0).id}"/>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="cardNumber">Card Number</label>
<!--                        <span th:if="${#fields.hasErrors('cardNumber')}" th:errors="*{cardNumber}"-->
<!--                              class="alert alert-danger"></span>-->
                        <input id="cardNumber" name="cardNumber" type="text" class="form-control"
                               aria-describedby="cardNumberHelp" required="required" placeholder="1111-1111"
                               th:value="${cart.customer.billingInfos.get(0).cardNumber}">
<!--                        <small id="cgpaHelp" class="form-text text-muted">Enter like this (1111-1111)</small>-->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="holderFullName">Card Holder Name</label>
<!--                        <span th:if="${#fields.hasErrors('holderFullName')}" th:errors="*{holderFullName}"-->
<!--                              class="alert alert-danger"></span>-->
                        <input id="holderFullName" name="holderFullName" type="text" required="required" class="form-control"
                               th:value="${cart.customer.billingInfos.get(0).holderFullName}">
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="expireDate">Expiration Date</label>
<!--                        <span th:if="${#fields.hasErrors('expireDate')}" th:errors="*{expireDate}"-->
<!--                              class="alert alert-danger"></span>-->
                        <input id="expireDate" name="expireDate" type="date" class="form-control"
                               th:value="${cart.customer.billingInfos.get(0).expireDate}">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="securityDigits">Security Digits</label>
<!--                        <span th:if="${#fields.hasErrors('securityDigits')}" th:errors="*{securityDigits}"-->
<!--                              class="alert alert-danger"></span>-->
                        <input id="securityDigits" name="securityDigits" type="text" required="required" class="form-control"
                               th:value="${cart.customer.billingInfos.get(0).securityDigits}">
                        <small id="cgpaHelp" class="form-text text-muted">Enter only 3 digits</small>
                    </div>
                </div>
            </div>
<!--            <div style="float:left;">-->
<!--                <a th:href="@{/citizen/list}" class="btn btn-outline-warning">Cancel</a>&nbsp;&nbsp;&nbsp;-->

<!--                <input type="submit" id="btnSubmit" class="btn btn-outline-success" th:value="Save">-->

<!--            </div>-->
        </fieldset>
        <fieldset>
            <legend>Biling Address:</legend>
<!--            <input type="hidden" name="id" th:value="${cart.customer.billingAddress.id}"/>-->
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="street">Street</label>
<!--                        <span th:if="${#fields.hasErrors('street')}" th:errors="*{customer.billingAddress.street}"-->
<!--                              class="alert alert-danger"></span>-->
                        <input id="billingstreet" name="street" type="text" class="form-control"
                               aria-describedby="streetHelp" required="required"
                               th:value="${cart.customer.billingAddress.street}">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="city">City</label>
<!--                        <span th:if="${#fields.hasErrors('city')}" th:errors="*{customer.billingAddress.city}"-->
<!--                              class="alert alert-danger"></span>-->
                        <input id="billingcity" name="city" type="text" required="required" class="form-control"
                               th:value="${cart.customer.billingAddress.city}">
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="zip">ZIP</label>
<!--                        <span th:if="${#fields.hasErrors('zip')}" th:errors="*{customer.billingAddress.zip}"-->
<!--                              class="alert alert-danger"></span>-->
                        <input id="billingzip" name="zip" type="text" class="form-control"
                               th:value="${cart.customer.billingAddress.zip}">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="state">State</label>
<!--                        <span th:if="${#fields.hasErrors('state')}" th:errors="*{customer.billingAddress.state}"-->
<!--                              class="alert alert-danger"></span>-->
                        <input id="billingstate" name="state" type="text" required="required" class="form-control"
                               th:value="${cart.customer.billingAddress.state}">
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Shipping Address:</legend>
            <input type="hidden" name="id" th:value="${cart.customer.shippingAddress.id}"/>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="street">Street</label>
<!--                        <span th:if="${#fields.hasErrors('street')}" th:errors="*{cart.customer.shippingAddress.street}"-->
<!--                              class="alert alert-danger"></span>-->
                        <input id="street" name="street" type="text" class="form-control"
                               aria-describedby="streetHelp" required="required"
                               th:value="${cart.customer.shippingAddress.street}">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="city">City</label>
<!--                        <span th:if="${#fields.hasErrors('city')}" th:errors="*{cart.customer.billingAddress.city}"-->
<!--                              class="alert alert-danger"></span>-->
                        <input id="city" name="city" type="text" required="required" class="form-control"
                               th:value="${cart.customer.shippingAddress.city}">
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="zip">ZIP</label>
<!--                        <span th:if="${#fields.hasErrors('zip')}" th:errors="*{cart.customer.billingAddress.zip}"-->
<!--                              class="alert alert-danger"></span>-->
                        <input id="zip" name="zip" type="text" class="form-control"
                               th:value="${cart.customer.shippingAddress.zip}">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="state">State</label>
<!--                        <span th:if="${#fields.hasErrors('state')}" th:errors="*{cart.customer.billingAddress.state}"-->
<!--                              class="alert alert-danger"></span>-->
                        <input id="state" name="state" type="text" required="required" class="form-control"
                               th:value="${cart.customer.shippingAddress.state}">
                    </div>
                </div>
            </div>
        </fieldset>
        <div style="float:left;">
            <a th:href="@{/book/placeholder}" class="btn btn-outline-warning">Cancel</a>&nbsp;&nbsp;&nbsp;

            <input type="submit" id="btnSubmit" class="btn btn-outline-success" th:value="Checkout">

        </div>
    </form>
    </div>
</div>
</div>
<hr>


<div th:replace="layouts/master-layout :: footer" class="container"></div>
</body>
</html>