<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

<head th:include="layouts/master-layout :: header">
    <title>HighCharts Demo | Carey Development Demos</title>
    <meta content="This demo shows how to use HighCharts with Spring Boot" name="description" />
    <object th:include="layouts/head :: head" th:remove="tag"></object>

    <link th:href="@{/assets/pages/css/profile.min.css}" rel="stylesheet" type="text/css" />
</head>

<body class="container page-container-bg-solid">
<div th:include="layouts/master-layout :: navbar-top"></div>
<div class="page-container">
    <div class="page-content-wrapper">
        <div class="page-head" style="background-color:#eff3f8;padding-top:40px">
            <div class="container">
                <div class="row" style="margin-bottom:30px">
                    <div class="col-md-6">
                        <h3>Sales Reports </h3>
                       <!-- <label th:text="Total Sales Amount: ${totalSalesAmount} USD"></label> -->

                    </div>
                </div>
                <div class="row" style="margin-bottom:30px">
                    <div class="col-md-6" style="margin-top:20px">
                        <div id="salesByType" style="width:100%; height:400px;"></div>
                    </div>
                    <div class="col-md-6" style="margin-top:20px">
                        <div id="salesByRegion" style="width:100%; height:400px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="layouts/homefooter :: footer"></div>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(function () {
        Highcharts.setOptions({
            lang: {
                decimalPoint: '.',
                thousandsSep: ','
            }
        });
        drawSalesByTypeChart();
        drawSalesByRegionChart();
    });


    function drawSalesByRegionChart() {
        var salesByRegionChart = Highcharts.chart('salesByRegion', {
            chart: {
                type: 'pie',
                margin: 40,
                options3d: {
                    enabled: true,
                    alpha: 45,
                    beta: 0
                }
            },
            title: {
                text: 'Number of Books by Categories'
            },
            tooltip: {
                pointFormat: "${point.y:,.0f}"
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    depth: 35
                }
            },
            series: [{
                name: 'Categories',
                colorByPoint:true,
                data: [{
                    name: 'Science',
                    y: /*[[${science}]]*/ 0
                },{
                    name: 'Art',
                    y: /*[[${art}]]*/ 0
                },{
                    name: 'Meditation',
                    y: /*[[${meditation}]]*/ 0
                },{
                    name: 'Nobel',
                    y: /*[[${nobel}]]*/ 0
                }]
            }]
        });
    }

    function drawSalesByTypeChart() {
        var salesByTypeChart = Highcharts.chart('salesByType', {
            chart: {
                type: 'column',
                margin: 75,
                options3d: {
                    enabled: true,
                    alpha: 15,
                    beta: 15,
                    depth: 110
                }
            },
            title: {
                text: 'Sales by Top Suppliers'
            },
            xAxis: {
                categories: ['May', 'June', 'July']
            },
            yAxis: {
                title: {
                    text: 'Sales (US $)'
                }
            },
            tooltip: {
                pointFormat: "${point.y:,.0f}"
            },
            plotOptions: {
                column: {
                    depth: 60,
                    stacking: true,
                    grouping: false,
                    groupZPadding: 10
                }
            },
            series: [{
                name: 'Supplier A',
                data: /*[[${supplierA}]]*/ []
            }, {
                name: 'Supplier B',
                data: /*[[${supplierB}]]*/ []
            }, {
                name: 'Supplier C',
                data: /*[[${supplierC}]]*/ []
            }]
        });
    }
    /*]]>*/
</script>
<div th:include="layouts/master-layout :: footer"></div>
</body>
</html>